
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dataInput</title>
    <input id="Text1" type="text" />
</head>
<body>
    <div> 

    </div>
</body>
</html>
