@model Lab_25_ValidateUserInformation.Models.Validator
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
    <h2>Thank You</h2>
</head>
<body>
    <div> 
        
    </div>
</body>
</html>
